body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  color: #ffebfd;
  font-family: "Acme", sans-serif;
}
.left-sec {
  width: 20%;
  background-image: radial-gradient(
    circle,
    #8662ff,
    #a46df5,
    #b97aec,
    #c989e5,
    #d499df
  );
  text-align: center;
}
.center-sec {
  width: 80%;
  background-color: #d499df;
  text-align: center;
  border-left: 1px solid #38003b;
  border-right: 1px solid #38003b;
}
.center-sec > h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 10vh;
  margin: 0px;
  color: #542f64;
}
.center-sec > p {
  font-family: "Amatic SC", cursive;
  font-size: 5vh;
  margin: 0px;
  font-weight: 700;
  color: #542f64;
}
.right-sec {
  width: 20%;
  background-image: radial-gradient(
    circle,
    #8662ff,
    #a46df5,
    #b97aec,
    #c989e5,
    #d499df
  );
  text-align: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
}
.main-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  background-color: #8326db33;
  width: 20vw;
  height: 28vh;
  font-size: 2.3vh;
  border: 1px solid #38003b;
}
.main-container > div:hover {
  background-color: #8426db87;
  cursor: pointer;
}
.emoj {
  font-size: 6vh;
  margin: 1vh;
}
#restart-button {
  margin-top: 15vh;
  padding: 2vh 5vw;
  color: #ffebfd;
  background-color: #c989e5;
  border: none;
  border-radius: 8px;
  font-family: "Acme", sans-serif;
  cursor: pointer;
}
#restart-button:hover {
  transform: scale(1);
  background-color: #8426db87;
}
#restart-button:active {
  transform: scale(0.9);
}
